:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --acsent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --timing: 250ms;
  --bd-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primari-text-color);
  background: var(--primary-white-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

header,
section,
footer,
.backdrop {
  display: none;
}

.block {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-section--ptop0 {
  padding-top: 0;
}

.section__azer-background {
  background: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.current {
  color: var(--acsent-text-color);
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acsent-text-color);
  left: 0;
  bottom: -1px;
  position: absolute;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  padding-bottom: 15px;
  padding-top: 15px;
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.logo__veb {
  color: var(--primari-text-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  background-color: antiquewhite;
  transform: translateX(100%);
  transition: transform var(--cubic) var(--timing);
}

.is-open {
  transform: translateX(0);
}

.site-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  display: block;
  padding: 32px 0;
  transition: color var(--timing) var(--cubic);
  position: relative;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--acsent-text-color);
}

.site-nav__link--current {
  color: var(--acsent-text-color);
}
.site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acsent-text-color);
  left: 0;
  bottom: -1px;
  position: absolute;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--timing) var(--cubic);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--acsent-text-color);
}
.auth-nav__link .auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background: #2f303a;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: var(--bd-gradient), url(../../img/hero-mobile-1x.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bd-gradient), url(../img/hero-tablet-1x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-image: var(--bd-gradient), url(../img/fons-hero-deckstop.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.btr {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.hero__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: #188ce8;
  text-align: center;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  transition: background-color var(--timing) var(--cubic);
}
.hero__btn:hover, .hero__btn :focus {
  background-color: var(--acsent-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages .feature__item {
    max-width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.comand {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .comand {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comand {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.comand__item {
  background: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .comand__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .comand__item {
    width: calc(25% - 15px);
  }
}

.comand__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.comand__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.comand__box {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .container__project {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container__project {
    display: none;
  }
}

.project {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.ptoject__item {
  position: relative;
}

.project__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill var(--timing) var(--cubic), background-color var(--timing) var(--cubic);
}
.social__link:hover, .social__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.social__icon {
  height: 20px;
  width: 20px;
}

.clients {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--title-text-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: currentColor;
  border-color: currentColor;
  transition: color, border, fill;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--acsent-text-color);
  border-color: var(--acsent-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.filtr {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-right: 15px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filtr {
    flex-wrap: nowrap;
    margin-right: 0;
    justify-content: center;
  }
}

.filtr-btn {
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  flex-wrap: wrap;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: var(--primari-text-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color, background-color, box-shadow;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}
@media screen and (min-width: 768px) {
  .filtr-btn {
    flex-wrap: wrap;
  }
}
.filtr-btn:focus, .filtr-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galeri {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: box-shadom, opacity, transform;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}
@media screen and (min-width: 768px) {
  .galeri {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.galeri-link {
  display: block;
}
.galeri-link:hover, .galeri-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galeri-link:focus .galeri-desc-text, .galeri-link:hover .galeri-desc-text {
  opacity: 1;
  transform: translateY(0);
}

.main-style {
  padding: 20px 24px;
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.main-title {
  color: var(--primari-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.galeri-item {
  width: 450px;
  height: 404px;
}
@media screen and (min-width: 768px) {
  .galeri-item {
    width: 354px;
    height: 404px;
    flex-basis: calc((100% - 60px) / 3);
  }
}

.galeri-desc {
  position: relative;
  overflow: hidden;
}

.galeri-desc-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transition: opacity var(--timing) var(--cubic), transform var(--timing) var(--cubic), box-shadow var(--timing) var(--cubic);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }
}

.footer-contacts {
  flex-grow: 1;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.join {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .join {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-bottom: 60px;
  }
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill var(--timing) var(--cubic), background-color var(--timing) var(--cubic);
}
.join-social-link:hover, .join-social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-bottom: 0px;
    width: 258px;
  }
}

.footer-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-style: normal;
  transition: color var(--timing) var(--cubic);
}
.footer-item:hover, .footer-item:focus {
  color: var(--acsent-text-color);
}

.map {
  color: var(--primary-white-color);
}

.subscription {
  align-items: flex-end;
  color: var(--primary-white-color);
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    width: 570px;
    flex-direction: row;
  }
}

.subsription-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subsription-input {
    margin-bottom: 0;
    width: 330px;
  }
}

.subscription-icon {
  margin-left: 12px;
  align-self: center;
}

.button {
  display: flex;
  color: var(--primary-white-color);
  background-color: #188ce8;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: calc(50% - 100px);
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  transition: background-color var(--timing) var(--cubic);
}
@media screen and (min-width: 1200px) {
  .button {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    text-align: left;
  }
}

.button:focus,
.button:hover {
  background-color: var(--acsent-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--timing) var(--cubic), opacity var(--timing) var(--cubic), visibility var(--timing) var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--timing) var(--cubic), opacity var(--timing) var(--cubic);
}

.modal-form {
  padding: 40px;
}

.modal-icon {
  position: absolute;
  bottom: 10px;
  left: 12px;
  fill: var(--primari-text-color);
}

.modal-form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.modal-form-imput {
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--timing) var(--cubic);
}

.modal-form-imput:hover,
.modal-form-imput:focus {
  border: 1px solid var(--acsent-text-color);
  outline: none;
  fill: var(--acsent-text-color);
}

.modal-form-imput:focus + .modal-icon {
  fill: var(--acsent-text-color);
  transition: fill var(--cubic) var(--timing);
}

.modal-coment-last {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form-comment {
  margin-top: 4px;
  padding: 16px 12px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-comment:focus,
.modal-form-comment:hover {
  border: 1px solid var(--acsent-text-color);
  outline: none;
  fill: var(--acsent-text-color);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 20px;
  cursor: pointer;
}

.modal-checkbox-imput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--primari-text-color);
  border-radius: 2px;
  transition: background-color var(--timing) var(--cubic);
}

.checkbox-icon-svg {
  fill: var(--primary-white-color);
  transition: fill var(--timing) var(--cubic);
}

.modal-checkbox-imput:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--acsent-text-color);
  fill: var(--primary-white-color);
}

.modal-checkbox-link {
  margin-left: 5px;
  color: var(--acsent-text-color);
  text-decoration: underline;
}

.checkbox-buttom {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 52px;
  background-color: var(--acsent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: box-shadow var(--timing) var(--cubic), background-color var(--timing) var(--cubic);
}

.checkbox-buttom:hover,
.checkbox-buttom:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primari-text-color);
  margin-bottom: 12px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  color: var(--primari-text-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .icon-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .modal-close:focus,
.modal-close:hover {
  fill: var(--acsent-text-color);
} */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */