:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --acsent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background: #ffffff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  margin-right: 93px;
}
.logo-veb {
  color: var(--primari-text-color);
}
/* Навігація */
.current {
  color: var(--acsent-text-color);
}
/*      Навігація    */
.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;

  column-gap: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  display: block;
  padding: 32px 0;
}
.site-nav-link:hover {
  color: var(--acsent-text-color);
}
.site-nav-link:focus {
  color: var(--acsent-text-color);
}
.current {
  color: var(--acsent-text-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-contact:hover {
  color: var(--acsent-text-color);
}
.nav-contact:focus {
  color: var(--acsent-text-color);
}
/*      Hero          */
.hero {
  background: #2f303a;
  text-align: center;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.btr {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
.hero-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primari-text-color);
  background: #188ce8;
  text-align: center;
  width: 216px;
  height: 50px;
}
.advantages {
  display: flex;
  column-gap: 30px;
}
.section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.section-text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.work-section {
  padding-top: 0;
}

.project {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.img-project {
  display: flex;
  column-gap: 30px;
}
.comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-list {
  display: flex;
  column-gap: 30px;
}
.comand-title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.comand-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.comand-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-btn:hover {
  background-color: var(--acsent-text-color);
}
.hero-btn :focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}
/*--------------------- Main--------------- */
.galeri {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100%-60px) / 3);
}

.filtr-btn {
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: var(--primari-text-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border-style: none;
  margin-bottom: 34px;
}

.filtr-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.filtr-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.main-style {
  padding: 20px 24px;
  border-top: none;
}
.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-style: normal;
}
.map {
  color: var(--primary-white-color);
}
.footer-item:focus {
  color: var(--acsent-text-color);
}
.footer-item:hover {
  color: var(--acsent-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
