:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --acsent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --timing: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background: var(--primary-white-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo-veb {
  color: var(--primari-text-color);
}

/*      Навігація    */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;

  column-gap: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  display: block;
  padding: 32px 0;
  transition: color var(--timing) var(--cubic);
  position: relative;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--acsent-text-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}
.current {
  color: var(--acsent-text-color);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--acsent-text-color);
  left: 0;
  bottom: -1px;
  position: absolute;
}

.nav-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--timing) var(--cubic);
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--acsent-text-color);
}

.nav-contact .icon {
  margin-right: 10px;
  fill: currentColor;
}
/*      Hero          */
.hero {
  background: #2f303a;
  text-align: center;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/fons-hero.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.btr {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.hero-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: #188ce8;
  text-align: center;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  transition: background-color var(--timing) var(--cubic);
}
.advantages {
  display: flex;
  column-gap: 30px;
}
.features-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 30px;
}
.section-text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.work-section {
  padding-top: 0;
}

.project {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.ptoject-list {
  position: relative;
}

.img-project {
  display: flex;
  column-gap: 30px;
}
.project-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.fons {
  background: #f5f4fa;
}
.comand-list {
  display: flex;
  column-gap: 30px;
}

.comand-item {
  background: var(--primary-white-color);
}
.comand-title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.comand-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.comand-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.social-icon {
  height: 20px;
  width: 20px;
}

.comand-img {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.hero-btn:hover,
.hero-btn :focus {
  background-color: var(--acsent-text-color);
}

.clients {
  display: flex;
  gap: 30px;
  color: var(--title-text-color);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}
.clients-link {
  fill: currentColor;
  border-color: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--acsent-text-color);
  border-color: var(--acsent-text-color);
}

/*--------------------- Main--------------- */
.galeri {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100%-60px) / 3);
  transition-property: box-shadom, opacity, transform;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}
.galeri-link {
  display: block;
}
.filtr-btn {
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: var(--primari-text-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: fill, background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubic);
}

.filtr-btn:focus,
.filtr-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-style {
  padding: 20px 24px;
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.main-title {
  color: var(--primari-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.galeri-item {
  width: 370px;
  height: 404px;
}
.galeri-desc {
  position: relative;
  overflow: hidden;
}

.galeri-desc-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);

  color: var(--primary-white-color);
  transition-property: opacity var(--timing) var(--cubic), transform var(--timing) var(--cubic);
}

.galeri-link:hover,
.galeri-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galeri-link:focus .galeri-desc-text,
.galeri-link:hover .galeri-desc-text {
  opacity: 1;
  transform: translateY(0);
}

/*      Footer           */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.join {
  color: var(--primary-white-color);
  margin-left: 90px;
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: fill var(--timing) var(--cubic), background-color var(--timing) var(--cubic);
}

.join-social-link:hover,
.join-social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.footer-adress {
  margin-top: 20px;
}

.footer-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-style: normal;
  transition-property: color var(--timing) var(--cubic);
}

.map {
  color: var(--primary-white-color);
}

.footer-item:focus {
  color: var(--acsent-text-color);
}

.footer-item:hover {
  color: var(--acsent-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform var(--timing) var(--cubic), opacity var(--timing) var(--cubic);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  color: var(--primari-text-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .icon-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .modal-close:focus,
.modal-close:hover {
  fill: var(--acsent-text-color);
} */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
