:root {
  --primari-text-color: color: #212121;
  --title-text-color: color: #757575;
  --acsent-text-color: color: #2196F3;
  --primary-white-color:  #ffffff;
}
body {
  font-family: roboto, sans-serif;
  font-style: normal;
  color: var(--primari-text-color);
  background: #ffffff;
}
/* основний колір  background: #ffffff; */
/* допоміжний   background: #2F303A; */
/*  колір акцента background: #2196F3; */
.list {
  list-style: none;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  text-decoration: none;
}
span {
  color: var(--acsent-text-color);
}
/* .logo:focus{} */
/* Навігація */
.current{
    color: #2196f3;
}
.site-nav {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-item:hover {
  color: #2196f3;
}
.site-nav-item:focus {
  color: #2196f3;
}
.site-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  text-decoration: none;
}
.current{
    color: #2196f3;
}

.nav-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.nav-contact:hover {
  color: #2196f3;
}
.nav-contact:focus {
  color: #2196f3;
}
/* Hero */
.hero {
  background: #2f303a;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-family: 'Roboto';

  color: #ffffff;
}
.section-title{
    font-size: 14px;
    line-height: 16px;
}
.section-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: #757575;
}
.section-comand {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

  color: #212121;
}

.filtr-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    color: #212121;
    cursor: pointer;
    background-color: #F5F4FA;
}
.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #212121;
    background-color: #F5F4FA;


}

.filtr-btn:hover{
    color: #ffffff;
    background-color: #2196f3;
}
.filtr-btn:focus{
    color: #ffffff;
    background-color: #2196f3;
}
.hero-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.hero-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}
/*--------------------- Main--------------- */

.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.main-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
  background: #2f303a;
  text-decoration: none;
}
.footer-logo{
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style: none;
  font-style: normal;
}
.map {
    color: #ffffff;
}
.footer-item:focus {
  color: #2196f3;
}
.footer-item:hover {
  color: #2196f3;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
