.auth-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--timing) var(--cubic);
  &:hover,
  &:focus {
    color: var(--acsent-text-color);
  }
  & .auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
