.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: aqua;

  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}
// .header-container {
//   display: flex;
//   align-items: center;
// }
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
