.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  padding-bottom: 15px;
  padding-top: 15px;

  @include for-size(desktop) {
    padding-bottom: 25px;
    padding-top: 25px;
    }
}
.logo__veb {
  color: var(--primari-text-color);
}
