.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  padding-bottom: 0;
  padding-top: 0;

  @include for-size(desktop) {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.logo__veb {
  color: var(--primari-text-color);
}
