.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-section--ptop0 {
  padding-top: 0;
  padding-bottom: 0;
  @include for-size(desktop) {
    padding-bottom: 94px;
  }
}
.section__azer-background {
  background: #f5f4fa;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
// .section-text {
//   letter-spacing: 0.03em;
//   font-size: 14px;
//   line-height: 1.71;
//   color: var(--title-text-color);
// }
