.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-section--ptop0 {
  padding-top: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.section-text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}
