.comand__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill var(--timing) var(--cubic), background-color var(--timing) var(--cubic);
}

.social__link:hover,
.social__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.social__icon {
  height: 20px;
  width: 20px;
}
