body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background: var(--primary-white-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
