.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo-veb {
  color: var(--primari-text-color);
}
