.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-top-0 {
  padding-top: 0;
}

.section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 30px;
}
.section-text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}
